environment  = "nonprod"
keypair_path = "./keypair/key.pub"

vpc_cidr             = "10.0.0.0/16"
public_subnets_cidr  = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnets_cidr = ["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
trusted_subnets_cidr = ["10.0.7.0/24", "10.0.8.0/24", "10.0.9.0/24"]

db = {
  username = "admin"
  password = "Hallo"
  name     = "nonprod_hallo"
  engine = {
    type    = "mysql"
    version = "8.0.40"
  }
  port                      = 3302
  allocated_storage         = 20
  instance_class            = "db.t3.micro"
  backup_retention_period   = 1
  storage_type              = "gp3"
  final_snapshot_identifier = "app-db-snapshot"
}

eks_config = {
  kubernetes_version = "1.32"
  node_group = {
    name          = "general"
    capacity_type = "ON_DEMAND"
    instance_type = "t3.medium"
    max_unavailable_node = 1
    scaling_config = {
      desired_size = 1
      min_size     = 1
      max_size     = 10
    }
  }
}
